body {
	height: 100%;
}

.bg { 
    /* The image used */
    background: url('../images/bg.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
  .bg {
    background: url('../images/bg-mobile.jpg');
  }
}

.site-content {
	margin-top: 150px;
}

.site-content .logo{
	width: 100%;
    background-size: 100% 100%; 
}

.icons{
	margin-top: 25px;
	margin-left: 30px;
}

.icons a{
	float: left;
}

.img-resize {
	width: 80%;
    background-size: 100% 100%;
    margin-top: 20px;
}
